:host {
  #widget-container {
    background: white;
    border: 2px solid gray;
    border-radius: 6px;
    position: fixed;
    width: 350px;
    height: 450px;
    bottom: 20px;
    right: 20px;
    overflow: auto;
    padding-bottom: 10px;

    > .header-text {
      padding: 15px;

      padding-bottom: 20px;
      > .main {
        padding-bottom: 10px;

        > .text {
          font-size: 18px;
          font-weight: 600;
        }
        > .step-count {
          margin-left: 10px;
          padding-left: 10px;
          padding-right: 10px;
          background-color: rgba(180, 174, 174, 0.5);
        }
      }

      > .secondary {
        opacity: 0.7;

        > .secondary-text {
          padding-left: 10px;
          padding-right: 10px;
          font-size: 14px;
          word-break: break-word;
        }
      }
    }

    > .capture-step {
      padding: 15px 15px 15px 17px;
      border-top: 1px solid rgba(119, 119, 119, 0.5);

      > .capture-cnt {
        height: 20px;
        width: 20px;
        line-height: 20px;
        border-radius: 50%;
        font-size: 12px;
        font-weight: 800;
        text-align: center;
        &.new {
          margin-top: 10px;
          background-color: rgb(180, 174, 174, 0.5);
        }
        &.captured {
          color: blue;
          background-color: rgba(0, 162, 242, 0.5);
        }
        &.remove {
          cursor: pointer;
          background-color: rgb(180, 174, 174, 0.5);

          > .capture-event-remove-icon {
            height: 16px;
            width: 16px;
            font-size: 16px;
            color: white;
          }
        }
      }

      > .capture-event {
        margin-left: 10px;

        .capture-event-text {
          font-size: 16px;
          font-weight: 700;
        }
        .capture-event-value {
          font-size: 14px;
        }
      }

      > .capture-table {
        margin-left: 10px;
        border: 1px solid rgba(119, 119, 119, 0.7);
        border-radius: 6px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);

        .capture-option {
          cursor: pointer;
          padding: 5px 5px 5px 10px;

          &:not(:last-of-type) {
            border-bottom: 1px solid rgba(119, 119, 119, 0.5);
          }

          .capture-option-text {
            font-size: 16px;
            font-weight: 600;
          }
          .capture-option-key {
            font-size: 14px;
            opacity: 0.7;
          }
        }
      }

      > .capture-event-remove-btn {
        background-color: rgb(180, 174, 174, 0.5);
        > .capture-event-remove-icon {
          color: white;
        }
      }
    }

    #save-funnel {
      background-color: green;
      color: white;
      width: 170px;
    }

    #close-btn {
      background-color: red;
      height: 28px;
      width: 28px;
      line-height: 28px;
      position: fixed;
      margin-left: 300px;
      margin-top: -15px;

      #close-widget {
        color: white;
      }
    }
  }
}
